{:deps {org.clojure/clojure {:mvn/version "1.10.0"}
        org.clojure/data.csv {:mvn/version "0.1.4"}
        org.clojure/data.json {:mvn/version "0.2.6"}
        net.openhft/zero-allocation-hashing {:mvn/version "0.9"}}}
